<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Denistrator. No rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Denistrator_Magento2JsInitModifier" setup_version="0.0.1"/>
</config>
